*.o
libbtree.a
t/hell
t/hell.c
t/log
t/test1
t/test11
t/test12
t/test14
t/test15
t/test16
t/test17
t/test18
t/test2
t/test3
t/test4
t/test5
t/test6
t/test7
t/test8
t/test9

td_ar
td_arlist
td_debug
td_dump
td_put

dir_d/latex/compendium.aux
dir_d/latex/compendium.log
dir_d/latex/compendium.lot
dir_d/latex/compendium.pdf
dir_d/latex/compendium.toc

